<h1>___ About Us Page____ </h1>
<br/><br/>

<nav class="navbar d-sm-flex justify-content-center justify-content-sm-between navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>



<div class="container">
    <div id="tabs">
          <ul class="nav nav-pills">
                <li class="nav-item active"><a data-toggle="pill" class="nav-link" href="#tabs-1">Nunc tincidunt</a></li>
                <li class="nav-item"><a data-toggle="pill" class="nav-link" href="#tabs-2">Proin dolor</a></li>
                <li class="nav-item"><a data-toggle="pill" class="nav-link" href="#tabs-3">Aenean lacinia</a></li>
          </ul>
        <div class="tab-content">
              <div id="tabs-1" class="tab-pane active" aria-current="page">
                   <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
              </div>
              <div id="tabs-2" class="tab-pane">
                    <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
              </div>
              <div id="tabs-3" class="tab-pane">
                    <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
                    <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
              </div>
        </div>
    </div>
</div>
 
                
<div class="container">
   <div class="row">
       <div class="col-lg-4">  
            <details class="btn btn-success">  
                <summary>Chapter One</summary>
                <span> A man beside the lake </span>
                <p class="text-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, commodi veritatis. Consequuntur tempore ducimus, quidem voluptate provident, repellat omnis nostrum, iusto maxime vitae numquam.Error voluptates facere similique molestias numquam!LoremLorem ipsum dolor sit amet consectetur.
                </p>
            </details>
        </div>
        <div class="col-lg-4">  
            <details class="btn btn-danger">
                <summary> chapter two  </summary>
                <span> Cross border and meeting friends</span>
                <p class="text-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, commodi veritatis. Consequuntur tempore ducimus, quidem voluptate provident, repellat omnis nostrum, iusto maxime vitae numquam. Error voluptates facere similique molestias numquam!LoremLorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </details>
        </div>
    </div>
</div>
             

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 <!-- Script Start -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $( function() {
    $( "#tabs" ).tabs();
    } );
      
    $('a[data-toggle="pill"]').on('shown.bs.pill', function (e) {
      var target = $(e.target).attr("href") // activated tab
      alert(target);
    });
  </script>







