
<br><br>
<div class="card bg-gradient-warning text-white">
    
    <div class="card-body">
        
        <h1>This is my first page created using RoR</h1>
<p>Find me in app/views/home/index.html.erb</p>
    
    </div>
              
    
   

</div>
<br>

