<br><br>
<div class="card bg-gradient-info text-white">
    
    <div class="card-body">
        
        <h1>Welcome to my CMS created with Ruby</h1>
        <p>Find me in app/views/home/welcome.html.erb</p>
    
    </div>

</div>
<br>