<head>
       <!-- plugin css for data-table - custom style sheet by me -->
 <link rel="stylesheet" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
  <!-- End plugin css for this page -->
</head>

<body>
    


<div class="container">

\<h1>Bands#prices</h1>
<p>Find me in app/views/bands/prices.html.erb</p>

<table id="table_id" class="display table table-dark table-striped">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>

</div>




   <!-- Plugin js for data-table -->
  <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<!--  plugin for jquery-->
    <script>
             $(document).ready( function () {
                $('#myTable').DataTable();
            } );
    </script>
  <!-- End plugin js for this page-->
  
 </body>