
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
     <title>Friends</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- plugin css for this page - custom style sheet by me -->
 <link rel="stylesheet" href="~/assets/stylesheets/custom_style.css">
  <!-- End plugin css for this page -->


  <!-- plugins:css -->
  <link rel="stylesheet" href="~/assets/stylesheets/style.css">
  <link rel="stylesheet" href="~/assets/stylesheets/maps/style.css.map">
  <!-- endinject -->

  <!-- inject:css -->
  <link rel="stylesheet" href="~/assets/stylesheets/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="~/assets/images/favicon.png" />
  
    <!-- Bootstrap CSS -->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
</head>
<body>






<br><br>
<div class="card bg-gradient-success text-white">
    
    <div class="card-body">
        
        <h1>Welcome to my CMS created with Ruby</h1>
        <p>Find me in app/views/home/welcome.html.erb</p>
    
    </div>

</div>
<br>









































  <!-- plugins:js -->
  <script src="~/javascript/jquery/dist/jquery.min.js"></script>
 <!-- Option 2: Separate Popper and Bootstrap JS -->
   
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
   
  <script src="~/javascript/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="~/javascript/chart.js/dist/Chart.min.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="~/javascript/js/off-canvas.js"></script>
  <script src="~/javascript/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="~/javascript/js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>